body{
	font-size: 13px;
	color: #222;
	font-family: Arial, 'Malgun Gothic';
	line-height: 1.8em;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	ine-height: 1.8em;
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 13px;
}

h6 {
	font-size:12px;
}

h6::before
{
    content: "▶";
    margin-right:2px;
	font-size: 10px;
    font-weight: normal;
	vertical-align: text-bottom;
	line-height: 1.8em;
}

p {
	padding-left: 20px;
	padding-right: 20px;
	margin: 11px 0px 11px 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	1.8em;

}

.boxtop {
    border-top-style: dotted; 
    border-right-style: none; 
    border-bottom-style: none; 
    border-left-style: none; 
    border-top-width: 1px; 
    border-right-width: 1px; 
    border-bottom-width: 1px; 
    border-left-width: 1px; 
    border-top-color: #9e9e9e; 
    border-right-color: #7e7e7e; 
    border-bottom-color: #7e7e7e; 
    border-left-color: #7e7e7e; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px;
    margin: 4px 0px 2px 0px;
    color: #555555;
    font-size: 12px;
    text-align:right;
}

.boxtop a {
    color: #42b3be;
    line-height: 1.8em;
}

a {
	color: #42b3be;
	line-height: 1.8em;
}
a:link {text-decoration: none; }
a:visited {text-decoration: none; }
a:active {text-decoration: none; }
a:hover {text-decoration: none;}

sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

sub {
	top: 0.4em;
}

sup a {
	font-weight: bold;	
}

blockquote {
    font-size: 12px;
    border-left: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    line-height: 1.6em;
    margin-top: 6px;
    margin-left: 30px;

}

pre
{
	font-family: 'Courier New';
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #ececec; 
    padding: 10px 20px 10px 20px;
    margin: 8px 30px 14px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fdfdfd;
    line-height:1.4em;
}

pre a {
	color: #42b3be;	
}

ul{
    margin-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

ul li
{
    margin-right: 40px;
}

ol{
    margin-left: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ol li
{
    margin-right: 40px;   
}

ol#footnotes {
	font-size: 11px;
	line-height: 1.4em;
}

ol#footnotes::before {
	content: "........................................";
	margin-left: -2em;
	font-weight: bold;
}

hr {
	border: 0px; 
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #fff;
}


