<footer class="site-footer">
    <div class="wrapper">
        <p class="contact">
            {% if site.github_username %}
            <a href="https://github.com/{{site.github_username}}" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a> {% endif %} {% if site.email %}
            <a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> {% endif %} {% if site.weibo_username %}
            <a href="http://weibo.com/{{site.weibo_username}}" title="Weibo"><i class="fa fa-weibo" aria-hidden="true"></i></a> {% endif %} {% if site.zhihu_username %}
            <a href="https://www.zhihu.com/people/{{site.zhihu_username}}" title="Zhihu"><i class="iconfont icon-daoruzhihu"></i></a> {% endif %} {% if site.twitter_username %}
            <a href="https://twitter.com/{{site.twitter_username}}" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> {% endif %} {% if site.facebook_username %}
            <a href="https://www.facebook.com/{{site.facebook_username}}" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> {% endif %}  {% if site.linkedIn_username %}
            <a href="https://www.linkedin.com/in/{{site.linkedIn_username}}" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a> {% endif %} {% if site.dribbble_username %}
            <a href="https://dribbble.com/{{site.dribbble_username}}" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a> {% endif %}
	    <a href="https://msjokr.slack.com"><i class="fa fa-slack" aria-hidden="true"></i></a>
	    <a href="https://trello.com/debugjo"><i class="fa fa-trello" aria-hidden="true"></i></a>	
	    <a href="https://twitter.com/debugjo"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	    <a href="https://t.me/debug"><i class="fa fa-telegram" aria-hidden="true"></i></a>	
        </p>
        <p class="power">
            <span>
                <i class="fa fa-copyright" aria-hidden="true"></i> 2016 MSJO.kr</a>.
            </span>		
            <span>
                ThemeDesignedBy <a href="https://github.com/Gaohaoyang/gaohaoyang.github.io">HyG</a>.
            </span>
            <span>
                ModifiedBy <a href="https://github.com/DebugJO/debugjo.github.io">MsJ</a>.
            </span>
	    <br>
	    <span>
		<!-- <a href="https://www.sfml-dev.org/"><img height="24px" style="margin-top:4px;" src="/images/sfml.png"></a> -->
		<i class="fa fa-globe" aria-hidden="true"></i> DaeHanMinGuk, Corea    
	    </span>
	</p>
    </div>
</footer>
