 {{ content }}

{%- assign content = post.content -%}

{%- if content contains '<td class="rouge-gutter gl"><pre class="lineno">' -%}
  {%- assign content = content
    | replace: '<td class="rouge-gutter gl"><pre class="lineno">',
      '<!-- <td class="rouge-gutter gl"><pre class="lineno">'
  -%}
  {%- assign content = content | replace: '</td><td class="rouge-code">', '</td> --><td class="rouge-code">' -%}
{%- endif -%}

{%- assign content = content
  | markdownify
  | strip_html
  | newline_to_br
  | replace: '<br />', ' '
  | strip_newlines
  | strip
-%}

{%- unless include.full_text -%}
  {%- assign max_length = include.max_length | default: 100000 -%}
  {%- assign content = content | truncate: max_length -%}
{%- endunless -%}
    
{{- content -}}
