<div class="post-recent" style="text-align:center; font-size:14px; font-family:'Malgun Gothic', 'Noto Sans KR';">
    {% if page.previous %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}"><i class="fa fa-backward" aria-hidden="true"></i> 이전글</a>
    {% endif %}
    <span style="padding-left:10px;padding-right:10px;">&nbsp;</span>
    {% if page.next %}
    <a href="{{ page.next.url | prepend: site.baseurl }}">다음글 <i class="fa fa-forward" aria-hidden="true"></i></a>
    {% endif %}
</div>
