@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body,
html,
div,
header,
footer,
nav,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
html {
    height: 100%;
}
body {
    font-family: 'Noto Sans KR','Malgun Gothic','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',sans-serif;
    color: #333;
    background-image: url('/images/bg.png');
    position: relative;
    min-height: 100%;
    padding-bottom: 120px;
}
a {
    text-decoration: none;
}
button {
    border: none;
    outline: none;
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}

///////////
h1 {
    font-size: 30px;
}
h2 {
    font-size: 26px;
    border-bottom: 1px solid #eee;
    margin: 50px 0 25px;
}
h3 {
    font-size: 23px;
    margin: 50px 0 20px;
}
h4 {
    font-size: 19px;
    margin: 30px 0 10px;
}
h5 {
    font-size: 17px;
    margin: 20px 0 10px;
}
h6 {
    font-size: 16px;
    margin: 10px 0 5px;
    font-weight: bold;
}
blockquote {
    color: #444;
    border-left: 5px solid #D6DBDF;
    padding-left: 15px;
    background: rgba(112,138,153,.1);
    padding: 10px 20px;
    margin: 0 0 20px;
    p:last-of-type{
        margin: 0;
    }
}
table {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    margin: 8px 0;
    border-collapse: collapse;
    font-size: 14px;
    width : 100%;
    thead {
        border-bottom: 1px solid #bbb;
        /* background-color: #D3D3D3; */
        background-color: #F6F7FB;
        /* color: #fff; */
    }
    th {
        padding: 2px 10px;
        text-align: center;
        border: 1px solid #ccc;
    }
    tbody {
        tr {
            &:nth-of-type(2n+1) {
                /* background-color: #f8f8fd; */
            }
            &:nth-of-type(2n) {
                /* background-color: #e5eaed; */
            }
        }
    }
    td {
        padding: 2px 10px;
        text-align: left;
        border: 1px solid #ccc;
    }
}
p {
    margin: 0 0 14px;
}
div > .left > ul > li > .excerpt > p { text-align: justify; word-break: break-all; }
div > .left > ul > li > .excerpt > ol { margin: 0px 0px 14px 0px; }
div > .left > ul > li > .excerpt > ul { margin: 0px 0px 14px 0px; }
div > .left > article > p { text-align: justify; word-break: break-all; }
img {
    max-width: 100%;
}
sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
    top: -0.6em;
    font-weight: bold;
    color: #4d6dad;
}
