---
# Front Matter
---

html.is-animating #main-wrapper {
  opacity: 0;
  transition: opacity 0.25s ease;
}

html.is-rendering #main-wrapper {
  opacity: 1;
}

@media (max-width: 850px) {
  html.is-animating #main-wrapper,
  html.is-rendering #main-wrapper,
  #main-wrapper {
    opacity: 1 !important;      
    transition: none !important; 
  }
}
