---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <hr>
        {{content}}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                </ul>
            </div>
            <div>                
                <center>                    
                    <a style="font-size:16px;color:#6a6a6a;" href="https://msjo.kr/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS Feed</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:16px;color:#6a6a6a;" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fa fa-cc" aria-hidden="true"></i> BY-NC-ND</a>
                </center>
            </div>            
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
