---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        <h1>{{page.title}}</h1>
        <span style="border-radius:6px;float:right;text-decoration:none;border:1px solid;color:#999;background:#fff;font-size:12px;padding:1px 8px;"><a href="https://msjo.kr/search.html"><i class="fa fa-search" aria-hidden="true"></i>SEARCH</a></span>
        <div class="label">

            <div class="label-card">
                <i class="fa fa-calendar"></i>{{ page.date | date: "%F" }}
            </div>

            <div class="label-card">
                {% if page.author %}<i class="fa fa-user"></i>{{ page.author }}
                {% endif %}
            </div>

            <div class="label-card">
                {% if page.meta %}<i class="fa fa-key"></i>{{ page.meta }}  {% endif %}
            </div>

            <div class="label-card">
            {% include category.html %}
            </div>

            <div class="label-card">
            {% include tag.html %}
            </div>

        </div>
        <hr>
        <article itemscope itemtype="http://schema.org/BlogPosting">
        {{content}}
        </article>
        <hr>

        <!-- assign hasSimilar -->
        
        {% include previousAndNext.html %}
        
        <!-- <h2 id="comments">Comments</h2> -->
        <!-- include comments.html -->


    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right">
        <div class="wrap">

            <!-- Content -->
            <div class="side content">
                <div>
                    Content
                </div>
                <ul id="content-side" class="content-ul">
                    <!-- {% if hasSimilar.size > 0 %} -->
                    <!-- <li><a href="#similar_posts">Similar Posts</a></li> -->
                    <!-- {% endif %} -->
                    <!-- <li><a href="#comments">Comments</a></li> -->
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
            <div style="margin-top:4px;">
                <center>                    
                    <a style="font-size:14px;color:#6a6a6a;" href="https://msjo.kr/feed.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS Feed</a>&nbsp;&nbsp;&nbsp;&nbsp;<a style="font-size:14px;color:#6a6a6a;" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><i class="fa fa-cc" aria-hidden="true"></i> BY-NC-ND</a>
                </center>
            </div>
        </div>
    </div>
</div>
<script>
/**
 * target _blank
 */
(function() {
    var aTags = document.querySelectorAll('article a:not([id])')
    for (var i = 0; i < aTags.length; i++) {
        aTags[i].setAttribute('target', '_blank')
    }
}());
</script>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
